<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-table-striped d-flex justify-content-around" >
    <a class="navbar-brand text-black" href="https://empiretech.solutions/" target="_blank">Vaga FullStack EmpireTech</a>
    <div class="d-flex align-items-center" style="gap: 10px;">
      <span class="username text-black" style="font-weight: bold;">USERNAME</span>
      <button type="button" class="btn btn-secondary btn-sm" style="padding: 3px 20px;" (click)="logout()">Sair</button>
    </div>
  </nav>
</header>
