@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --primary-color: #3a3a3a;
  --secondary-color: #495057;
  --third-color: #0d6efd;
}

.alert {
  padding: 4px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
